## 오늘 배운거 복습

In [3]:
FILENAME = 'IEA-EV-data.csv'
import pandas as pd
df = pd.read_csv('../DATA_WOO/' + FILENAME)
df

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,sales,49.000000
1,Australia,Historical,EV stock,Cars,BEV,2011,stock,49.000000
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.006479
3,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.000464
4,Australia,Historical,EV stock share,Cars,EV,2012,percent,0.002785
...,...,...,...,...,...,...,...,...
7011,World,Projection-STEPS,Oil displacement Mbd,Cars,EV,2030,Milion barrels per day,2.409347
7012,World,Projection-STEPS,Oil displacement Mlge,Buses,EV,2030,Milion litres gasoline equivalent,30311.880859
7013,World,Projection-STEPS,Oil displacement Mlge,Trucks,EV,2030,Milion litres gasoline equivalent,13943.429688
7014,World,Projection-STEPS,Oil displacement Mlge,Vans,EV,2030,Milion litres gasoline equivalent,16207.837891
7015,World,Projection-STEPS,Oil displacement Mlge,Cars,EV,2030,Milion litres gasoline equivalent,141228.515625

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7016 entries, 0 to 7015
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      7016 non-null   object
 1   category    7016 non-null   object
 2   parameter   7016 non-null   object
 3   mode        7016 non-null   object
 4   powertrain  7016 non-null   object
 5   year        7016 non-null   int64
 6   unit        7016 non-null   object
 7   value       7016 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 438.6+ KB

In [6]:
cond1 = df['year'] >= 2015
cond2 = df['year'] == 2012
cond3 = df['year'] <= 2015

df[cond1]
df[cond2]
df[cond3]

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,sales,49.000000
1,Australia,Historical,EV stock,Cars,BEV,2011,stock,49.000000
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.006479
3,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.000464
4,Australia,Historical,EV stock share,Cars,EV,2012,percent,0.002785
...,...,...,...,...,...,...,...,...
6723,World,Historical,Electricity demand,Cars,PHEV,2015,GWh,416.460938
6724,World,Historical,Oil displacement Mbd,Cars,EV,2015,Milion barrels per day,0.020445
6725,World,Historical,Oil displacement Mlge,Cars,EV,2015,Milion litres gasoline equivalent,1186.327515
6726,World,Historical,EV sales share,Cars,EV,2015,percent,0.683739
6727,World,Historical,EV stock share,Cars,EV,2015,percent,0.118208

In [8]:
cond4 = (df['year'] >= 2015) & (df['unit'] == 'sales')
cond5 = (df['year']== 2015) | (df['region'] == 'Australia')

df[cond5]

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,sales,49.000000
1,Australia,Historical,EV stock,Cars,BEV,2011,stock,49.000000
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.006479
3,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.000464
4,Australia,Historical,EV stock share,Cars,EV,2012,percent,0.002785
...,...,...,...,...,...,...,...,...
6723,World,Historical,Electricity demand,Cars,PHEV,2015,GWh,416.460938
6724,World,Historical,Oil displacement Mbd,Cars,EV,2015,Milion barrels per day,0.020445
6725,World,Historical,Oil displacement Mlge,Cars,EV,2015,Milion litres gasoline equivalent,1186.327515
6726,World,Historical,EV sales share,Cars,EV,2015,percent,0.683739
6727,World,Historical,EV stock share,Cars,EV,2015,percent,0.118208

In [19]:
df['조건'] = 0
cond6 = df['year'] == 2015
df.loc[cond6, '조건'] = 1
df['조건'].unique()

array([0, 1], dtype=int64)

In [24]:
df.dtypes

def normalize(df, col):
    """
    df = DataFrame, col = column(int or float) -> Add normalized_col 
    방식 : (컬럼의 데이터- 평균)/ 표준편차 -> Z-score 
    """
    col_mean = df[col].mean()
    col_std = df[col].std()
    col_nbr = df.columns.get_loc(col)+1
    df.insert(col_nbr, f'{col}_normalize', 0)
    df[f'{col}_normalize'] = (df[col] - col_mean) / col_std

def catch_int_col(df):
    """
    df = DataFrame -> return: column 명(int, float)
    아직은 float64와 int64만 지원
    """
    somelist = [(df.dtypes[num] == 'float64') or (df.dtypes[num] == 'int64') for num in range(len(df.columns))]
    return df.loc[:,somelist].columns

someList = catch_int_col(df)
for col in someList:
    normalize(df, col)

In [1]:
df

NameError: name 'df' is not defined

In [24]:
from datetime import datetime as dt
import pandas as pd
import numpy as np
today = dt.today()
dt.ctime(today)

pd.Timestamp(today) - pd.Timestamp('2022-06-14')
pd.Timedelta(365, unit='D') + pd.Timestamp(today)df

Timestamp('2023-07-08 14:47:28.125766')

In [31]:
pd.date_range(start= '2022-04-01', end='2022-01-01', freq='-10D')

DatetimeIndex(['2022-04-01', '2022-03-22', '2022-03-12', '2022-03-02',
               '2022-02-20', '2022-02-10', '2022-01-31', '2022-01-21',
               '2022-01-11', '2022-01-01'],
              dtype='datetime64[ns]', freq='-10D')